<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDgt8zjQez5YEQPIwFbZ4MvLG6k0yYXpQA</string>
	<key>GCM_SENDER_ID</key>
	<string>764247533458</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.veloPp</string>
	<key>PROJECT_ID</key>
	<string>velo-pp</string>
	<key>STORAGE_BUCKET</key>
	<string>velo-pp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:764247533458:ios:36766c020c93c9e1a5034b</string>
	<key>DATABASE_URL</key>
	<string>https://velo-pp-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>